h1{text-align: center;
    font-family: sans-serif;
    font-weight: 200;}
h2{text-decoration: underline;
    font-style: italic;
    background-color: grey;}
h3{text-decoration: underline;
    font-family: sans-serif;
color: rgb(35, 149, 225);}
p{
    text-align: justify;
}
#a{
    background-image: url(../Images/Imagebackground.jpeg);
    opacity: 0.8;
}
table{
    border : 5px black solid;
    border-radius: 10px;
    box-shadow: 8px 8px 8px grey;
}
img{
    width: 500px;
    height:50px
}
#b{
    margin: 25px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}